:root{
  --black: #333;
}

*{
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section{
  padding: 2rem 9%;
}

.heading{
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, .05);
}

.heading span{
  color: #E9967A;
}

.btn{
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: .9rem 3.5rem;
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover{
  background: #E9967A;
}

header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
  padding: 2rem 9%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);

}

header .logo{
  font-size: 3rem;
  color: #333;
  font-weight: bolder;
}

header .logo span{
  color: #E9967A;
}

header .logo p{
  font-size: small;
}

header .navbar a {
  font-size: 2rem;
  padding: 0 1.5rem;
  color: #666;
}

header .navbar a:hover {
  color: #E9967A;
}

header .icons a{
  font-size: 2.5rem;
  color: #333;
  margin-left: 1.5rem;
}

header .icons a:hover{
  color: #E9967A;
}

header #toggler {
  display: none;
}

header .fa-bars{
  font-size: 3rem;
  color: #333;
  border-radius: .5rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  border: .1rem solid rgba(0,0,0,.3);
  display: none;
}

/*slider content*/
.container{
  padding: 10px;
}

#slider {
	overflow: hidden;
}

@keyframes slider {
	0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; }
}
#slider figure {
	width:300%;
	position: relative;
	animation: 9s slider infinite;
}

#slider figure img {
	width: 33.333333333%;
	height : 100%;
	float: left;
  padding-top: 50px;
  margin-top: 50px;
}

.content-1{
    width: 33.33333%;
	  height : 100%;
	  float: left;
    align-items: center;
    min-height: 120vh;
    padding-top: 100px;
    margin-top: 100px;
    background-size: cover;
    background: url("https://cdn.mozo.com.au/images/atwood/14517/Screen%20Shot%202023-02-02%20at%2011.21.15%20am.jpeg") no-repeat;
}

.tulisan h3{
  font-size: 50px;
  color: #222121;
  padding: 16px 0 0 50px;
  margin-left: 50px;
}

.tulisan span{
  font-size: 3.5rem;
  color: black;
  padding: 16px 0 0 50px;
  margin-left: 50px;
  line-height: 1.5;
}
.tulisan p{
  font-size: 1.5rem;
  color: #ffffff ;
  padding: 16px 0 0 50px;
  margin-left: 50px;
  line-height: 1.5;
}

.btn-slider{
  padding: 20px 50px 20px 106px;
}

  
.about .row{
  display: #E9967A;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;

}

.about .message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}
.about .content{
  flex: 1 1 40rem;
}

.about .content h3{
  font-size: 3rem;
  color: #333;
}

.about .content p{
  font-size: 1.5rem;
  color: #999;
  padding: 5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

.icons-container{
  background: #eee;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.icons-container .icons{
  background: #fff;
  border: .1rem solid rgba(0,0,0,.1);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
}

.icons-container .icons img{
  height: 5rem;
  margin-right: 2rem;
}

.icons-container .icons h3{
  color: #333;
  padding-bottom: .5rem;
  font-size: 1.5rem;
}

.icons-container .icons span{
  color: #555;
  font-size: 1.3rem;
}

.products .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.products .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0.5rem 1.5re, rgba(0,0,0,.1);
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,.1);
  position: relative;
}

.products .box-container .box .discount{
  position: absolute;
  top: 1rem;
  left: 1rem;
  padding: .7rem;
  font-size: 2rem;
  color: #E9967A;
  background: rgba(255, 51, 153, .05);
  z-index: 1;
  border-radius: .5rem;
}

.products .box-container .box .image{
  position: relative;
  text-align: center;
  overflow: hidden;
  padding-bottom: 1 rem;
}


.products .box-container .box .image img{
  height: 25rem;
  padding-bottom: 1rem;
}


.products .box-container .box:hover .image img{
  transform: scale(1.1);
}

.products .box-container .box .image .icons{
  position: absolute;
  bottom: -7rem;
  left: 0;
  right: 0;
  display: flex;
}

.products .box-container .box:hover .image .icons{
  bottom: 0;
}

.products .box-container .box .image .icons a{
  height: 5rem;
  line-height: 5rem;
  font-size: 2rem;
  width: 40%;
  background: #E9967A;
  color: #fff;
}

.products .box-container .box .image .icons .cart-btn{
  border-left: .1rem solid #fff7;
  border-right: .1rem solid #fff7;
  width: 100%;
}

.products .box-container .box .image .icons a:hover{
  background: #333;
  opacity: 0.7;
}

.products .box-container .box .content{
  padding: 2rem;
  text-align: center;
}

.products .box-container .box .content h3{
  font-size: 2.5rem;
  color: #333;
}

.products .box-container .box .content .price{
  font-size: 2.5rem;
  color: #E9967A;
  font-weight: bolder;
  padding-top: 1rem;
}

.products .box-container .box .content .price span{
  font-size: 1.5rem;
  color: #999;
  font-weight: lighter;
  text-decoration: line-through;
}

.review .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .box{
  flex: 1 1 30rem;
  box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
  border-radius: .5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 1rem solid rgba(0,0,0,.1);
}

.review .box-container .box .fa-quote-right{
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.review .box-container .box .stars i{
  color: #E9967A;
  font-size: 2rem;
}

.review .box-container .box .stars p{
  color: #999;
  font-size: 1.5rem;
  line-height: 1.5;
  padding-top: 2rem;
}

.review .box-container .box .user{
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .box .user img{
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .box .user h3{
  font-size: 2rem;
  color: #333;
}

.review .box-container .box .user span{
  font-size: 1.5rem;
  color: #999;
}

.contact .row{
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

.contact .row form{
  flex: 1 1 4rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 .5rem 1 rem #E9967A;
  border: 0.3rem solid #E9967A;
  background: #fff;
  border-radius: .5rem;
}
.contact .row .image{
  flex: 1 1 20rem;
}
.contact .row .image img{
  width: 80%;
}

.contact .row form .box{
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.5rem solid #E9967A;
  border-radius: .2rem;
  margin: .7rem 0;
  width: 100%;
}

.contact .row form .box:focus{
  border-color: #E9967A;
}

.contact .row form textarea{
  height: 15rem;
  resize: none;
}

.footer .box-container{
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.footer .box-container .box{
  flex: 1 1 25rem;
}

.footer .box-container .box h3{
  color: #333;
  font-size: 2.5rem;
  padding: 1 rem 0;
}

.footer .box-container .box a{
  display: block;
  color: #666;
  font-size: 1.5rem;
  padding: 1 rem 0;
}

.footer .box-container .box a:hover{
  color: #E9967A;
  text-decoration: underline;
}

.footer .box-container .box img{
  margin-top: 1.5rem;
}

.footer .credit{
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: .1rem solid rgba(0,0,0,.1);
}

.footer .credit span{
  color: #E9967A;
}






/*responsive */
/*media queries */
@media (max-width:991px){
  html{
      font-size: 55%;
    }
    header{
      padding: 2rem;
    }

    section{
      padding: 2rem;
    }
    .home{
      background-position: left;
    }
}

@media (max-width:768px){
  header .fa-bars{
      display: block;
  }

  header .navbar{
      position:absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: #eee;
      border-top: 1rem solid rgba(0,0,0,.1);
      clip-path: polygon(0  0, 100% 0, 100% 0, 0 0);
  }

  header #toggler:checked ~ .navbar{
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  header .navbar a{
      margin: 1.5rem;
      padding: 1.5rem;
      background: #fff;
      border: .1rem solid rgba(0,0,0,.1);
      display: block;
  }

  .home .content h3{
    font-size: 5rem;
  }

  .home .content .span{
    font-size: 2.5rem;
  }

  .icons-container .icons h3{
    font-size: 2rem;
  }
  
  .icons-container .icons span{
    font-size: 1.7rem;
  }

}

@media (max-width:450px){
  html{
      font-size: 50%;
    }

    .heading{
      font-size: 3rem;
    }
}
